@using Blazor_WebAssembly_Login_1.Client.Pages
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">

            <!-- Control authentication behavior -->
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>

                    @{
                        // Not authenticated
                        if (context.User.Identity?.IsAuthenticated != true)
                        {
                            navManager.NavigateTo("/");
                        }
                        else
                        {
                            <p class="alert alert-danger">You are NOT authorized to view this page</p>
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>

        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>
