@page "/"
@layout LoginLayout

@inject HttpClient httpClient
@using Blazor_WebAssembly_Login_1.Client.Extensions
@using Blazor_WebAssembly_Login_1.Shared
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authenticationProvider
@inject NavigationManager navManager

<div class="row mt-5">

    <div class="col-lg-4 offset-lg-4 border">

        <div class="mb-3 text-center">
            <h3>LOGIN</h3>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input @bind="login.Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input @bind="login.Password" class="form-control" />
        </div>

        <div class="mb-3">            
            <button @onclick="SignIn" class="btn btn-primary">Sign in</button>
        </div>

    </div>

</div>

@code {
    private LoginDTO login = new LoginDTO();

    // Sing in Method
    private async Task SignIn()
    {
        // Consume our controller API in server
        var loginResponse = await httpClient.PostAsJsonAsync<LoginDTO>("/api/User/Login", login);

        if (loginResponse.IsSuccessStatusCode)
        {
            // Get the user
            var sessionUser = await loginResponse.Content.ReadFromJsonAsync<SessionDTO>();

            // Use authetication service
            var authenticationExt = (AuthenticationExtension)authenticationProvider;

            // Update Method
            await authenticationExt.UpdateAuthenticationStatus(sessionUser);

            // Redirect
            navManager.NavigateTo("/Index");
        }
    }
}
